# Supabase Authentication & Backend Configuration
# Public Project URL and Anonymous / Publishable client key (Safe for frontend)
VITE_SUPABASE_URL=https://bpnladdupfaisfkweurx.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_-GQmEhhksBQqojzlB0Rg9A_HlMgAint
